PROJECT_NAME=cardio_project

POSTGRES_USER=postgres
POSTGRES_PASSWORD=onkron1603
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=zakupki
POSTGRES_SYSTEM_DB=postgres

LOCAL_POSTGRES_HOST=localhost
LOCAL_POSTGRES_PORT=5432

SEARCH_TEXT=кардиоплег
START_DATE=2024-01-01

DATA_DIR=/app/data
RAW_DIR=/app/data/raw
LABELING_DIR=/app/data/labeling
ARTIFACTS_DIR=/app/artifacts
LOG_DIR=/app/logs

LABELED_FILE_NAME=cardioplegia_labeled.xlsx

AIRFLOW_UID=50000
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin
AIRFLOW_FERNET_KEY=
AIRFLOW_SECRET_KEY=cardio_airflow_secret
AIRFLOW_EXECUTOR=LocalExecutor
